@page "/"
<PageTitle>Home</PageTitle>

<h1>Project Stack</h1>

Welcome to your new app.

<div style="display: flex; gap: 1rem; margin-top: 1rem;">

    <span>
        <div class="card" style="width: 18rem; color: black;">
            <img src="Img/download (1).png" class="card-img-top" alt="..."
                 style="width: 100%; height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">TODO-LIST</h5>
                <p class="card-text">To-Do app just to keep up with the task</p>
                <a href="/todos" class="btn btn-primary">TO-DO APP</a>
            </div>
        </div>
    </span>

    <span>
        <div class="card" style="width: 18rem; color: black;">
            <img src="Img/download (2).png" class="card-img-top" alt="..."
                 style="width: 100%; height: 200px;width: 100% object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Movies-LIST</h5>
                <p class="card-text">Movies App just to practice the crud</p>
                <a href="/movielist" class="btn btn-primary">Movie APP</a>
            </div>
        </div>
    </span>
</div>

